@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Serwis Samochodowy - Programowanie aplikacji WWW w środowisku .Net</h1>
    <br /><br />
    <h2>Kamil Pikuła</h2>
    <h2>Nr albumu: 35583</h2>
</div>
